body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://img.freepik.com/vector-gratis/borde-corazones-acuarela_52683-81078.jpg?t=st=1739252613~exp=1739256213~hmac=45b29a493a7cdc69cb7bab4026565b45e9c9a6214162c5d93d1157655b723594&w=1380') no-repeat center center/cover;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin: 0;
    overflow: hidden;
    flex-direction: column;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2rem;
    color: #d63384;
    margin-bottom: 20px;
}

#gifImage {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

#yesButton {
    background-color: #ff4081;
    color: white;
    margin-right: 100px;
}

#yesButton:hover {
    background-color: #e91e63;
}

#noButton {
    background-color: #757575;
    color: white;
    position: absolute;
    margin-left: 100px;
}

#noButton:hover {
    background-color: #616161;
}


/* Responsivo para móviles */
@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }
    
    button {
        padding: 8px 16px;
        font-size: 16px;
    }
    
    .button-container {
        flex-direction: column;
        gap: 10px;
    }
}
